.center {
    text-align: center;
}

.errors ul {
    color: red;
    list-style: none;
}

#app-title {
    margin: 0.5em;
}

#app-title a {
    text-decoration: none;
}

#content {
    min-height: 40rem;
}

#navigation ul {
    list-style: none;
    background-color: #2f2f2e;
    border-radius: 4px;
    padding: 1rem;
}

#navigation a {
    color: #dcdcdc;
}

#navigation a:hover {
    color: #d27624;
}

#navigation ul li {
    display: inline;
    margin: 0 2rem;
}

textarea {
    height: auto;
    resize: vertical;
}

#footer {
    margin-top: 1rem;
}

#content li {
    list-style: none;
}
