{% import 'macros.html' as macros %}

<!doctype html>
<html>
<head>
    {% block head %}
        <title>dashto.net</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ 'dashto:static/css/normalize.css'|static_url }}"/>
        <link rel="stylesheet" type="text/css" href="{{ 'dashto:static/css/skeleton.css'|static_url }}"/>
        <link rel="stylesheet" type="text/css" href="{{ 'dashto:static/css/style.css'|static_url }}"/>
        <link rel="shortcut icon" href="{{ 'dashto:static/images/favicon.png'|static_url }}">
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    {% endblock %}
</head>
<body>

<div class="container">
    <div class="row center">
        <h1 id="app-title">dashto.net</h1>
    </div>
    <div class="row center" id="navigation">
        <ul>
            {% if request.user %}
                <li><a href="{{ 'home'|route_url }}">Home</a></li>
                <li><a href="{{ 'campaigns_index'|route_url }}">Campaigns</a></li>
                <li><a href="{{ 'users_index'|route_url }}">Users</a></li>
            {% else %}
                <li><a href="{{ 'home'|route_url }}">About</a></li>
                <li><a href="{{ 'login'|route_url }}">Login</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="row">
        <div class="eight columns">
            {% block content %}{% endblock %}
        </div>
        <div class="four columns">
            <h4>Sidebar</h4>
            {% if request.user %}
                <p>Welcome, {{ request.user.name }}!</p>
                <p><a href="{{ 'logout'|route_url }}">Log out</a></p>
            {% else %}
                <p>Not logged in.</p>
            {% endif %}
        </div>
    </div>
    <div class="row center" id="footer">
        &copy; 2015 dashto, inc.
    </div>
</div>

</body>
</html>
