{% extends 'base.html' %}

{% block content %}
    <h2>Login</h2>

    <form action="{{ 'login'|route_url }}" method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {{ macros.render_field(form.user_name, class='u-full-width', placeholder='username') }}
        {{ macros.render_field(form.user_password, class='u-full-width', placeholder='password') }}
        <input class="button-primary" type="submit" value="Login"/>
        <a href="{{ 'home'|route_url }}"><button type="button">Cancel</button></a>
    </form>
{% endblock %}
