{% macro render_field(field) %}
    {{ field.label }}
    {% if field.errors %}
        {{ field(**kwargs) }}
        <div class="errors">
            <ul>
                {% for error in field.errors %}
                    <li>{{ error|e }}</li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        {{ field(**kwargs) }}
    {% endif %}
{% endmacro %}

{% macro post_button(request, target, text) %}
    <form action="{{ target }}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}"/>
        {% for key, value in kwargs.items() %}
            <input type="hidden" name="{{ key }}" value="{{ value }}"/>
        {% endfor %}
        <input class="button-primary" type="submit" value="{{ text }}"/>
    </form>
{% endmacro %}
