{% extends 'base.html' %}

{% block content %}
    <h2>Campaigns</h2>
    <ul>
        {% for campaign in campaigns %}
            <li>
                <a href="{{ 'campaigns_view'|route_url(campaign_id=campaign.id) }}">{{ campaign.name }}</a>
                -
                <a href="{{ 'campaigns_play'|route_url(campaign_id=campaign.id) }}">Play</a>
            </li>
        {% else %}
            <li>None</li>
        {% endfor %}
    </ul>
    <a href="{{ 'campaigns_create'|route_url }}">
        <button type="button" class="button-primary">Create new campaign</button>
    </a>
{% endblock %}
