{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <script type="text/javascript">
        $(document).ready(function() {
            var target = '{{ chat_target }}';
            var conn = new WebSocket('ws://' + target);
            var message_input = $('#message');

            var scrollToBottom = function() {
                var chatbox = $('#chatbox');
                chatbox.stop().animate({
                    scrollTop: chatbox[0].scrollHeight
                }, 800);
            };

            conn.onopen = function() {
                var data = {
                    'channel_id': {{ campaign.id }},
                    'cookie': document.cookie,
                    'csrf_token': $('#csrf_token').val()
                };
                conn.send(JSON.stringify(data));

                var li = $('<li/>', {text: 'Connected to server at ' + target, 'class': 'success'});
                $('#messages').append(li);
                scrollToBottom();
            };

            conn.onclose = function() {
                var li = $('<li/>', {text: 'Server at ' + target + ' stopped', 'class': 'error'});
                $('#messages').append(li);
                scrollToBottom();
            };

            conn.onerror = function() {
                var li = $('<li/>', {text: 'Failed to connect to server at ' + target, 'class': 'error'});
                $('#messages').append(li);
                scrollToBottom();
            };

            conn.onmessage = function(message_data) {
                var data = JSON.parse(message_data.data);
                var message = JSON.parse(data);
                console.log(message);
                var li = $('<li/>', {text: message['message']});
                $('#messages').append(li);
                scrollToBottom();
            };

            var sendMessage = function() {
                var message = message_input.val();
                if (message) {
                    var data = {'message': message};
                    conn.send(JSON.stringify(data));
                }
                message_input.val('');
                message_input.focus();
                return false;
            };

            message_input.keypress(function(e) {
                if (e.which == 13 && !e.shiftKey && !e.ctrlKey) {
                    sendMessage();
                    return false;
                }
                return true;
            });

            $('#chat-form').submit(sendMessage);

            message_input.focus();
        });
    </script>
    <style>
        #chatbox {
            height: 20rem;
            word-wrap: break-word;
            overflow-y: auto;
            margin: 2em 0;
        }

        #messages {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        #messages li {
            padding: 5px 10px;
        }

        #messages li:nth-child(odd) {
            background: #2f2f2e;
        }

        #messages .error {
            color: #f00;
        }

        #messages .success {
            color: forestgreen;
        }
    </style>
{% endblock %}

{% block content %}
    <h2>{{ campaign.name.title() }}</h2>

    <div id="chatbox">
        <ul id="messages">
        </ul>
    </div>

    <form id="chat-form">
        {{ form.csrf_token }}
        <label for="message">Message</label>
        <textarea id="message" name="message" class="u-full-width" placeholder="your message here..."></textarea>
        <input class="button-primary" type="submit" value="Send"/>
    </form>
{% endblock %}
