{% extends 'base.html' %}

{% block content %}
    <h2>{{ campaign.name.title() }}</h2>

    <p>Campaign information goes here</p>

    {% if memberships %}
    <h3>Members:</h3>
    <ul>
        {% for membership in memberships %}
        <li>
            <a href="{{ 'users_view'|route_url(user_id=membership.user_id) }}">{{ membership.user.name }}</a>
            {% if membership.is_gm %}(GM){% endif %}
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if request.user.id in user_ids %}
        <a href="{{ 'campaigns_play'|route_url(campaign_id=campaign.id) }}">
            <button type="button" class="button-primary">Play</button>
        </a>
    {% endif %}
{% endblock %}
