{% extends 'base.html' %}

{% block content %}
    <h4>New Character</h4>

    <form action="{{ 'characters_create'|route_url }}" method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {{ macros.render_field(form.character_name, class='u-full-width', placeholder='character name') }}
        <input class="button-primary" type="submit" value="Create Character"/>
        <a href="{{ 'characters_index'|route_url }}"><button type="button">Cancel</button></a>
    </form>
{% endblock %}
