{% extends 'base.html' %}

{% block content %}
    <h2>{{ (character.full_name if character.full_name else character.name).title() }}</h2>

    {% if character.portrait %}
    <p><img src="{{ request.storage.url(character.portrait) }}" alt="{{ character.name }}"/></p>
    {% endif %}
    {% if character.biography %}
    <h3>Biography</h3>
    <p>{{ character.biography }}</p>
    {% endif %}

    {% if character.user == request.user %}
    <a href="{{ 'characters_edit'|route_url(character_id=character.id) }}">
        <button type="button" class="button-primary">Edit</button>
    </a>
    {% endif %}
{% endblock %}
